<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stanislav Berko Test App</title>
</head>
<body>
<h1>
    Visitors: <span id="visit">{{ .visitors }}</span>
</h1>
<script>
    url = 'ws://localhost:8080/ws';
    c = new WebSocket(url);


    c.onmessage = function(msg){
        document.getElementById("visit").innerText = msg.data
        console.log(msg)
    }

    c.onopen = function(){
        // document.getElementById("visit").innerText = "SEND DATA"
        c.send("HELLO FROM FRONT")
    }
</script>
</body>
</html>